[
  (
	entity: 0,
	components: [
	  {
		"type": "bevy_transform::components::transform::Transform",
	  	"struct": {
		  "translation": {
			"type": "glam::vec3::Vec3",
			"value": (0.0, 0.0, 0.0),
		  },
		  "rotation": {
			"type": "glam::quat::Quat",
			"value": (0.0, 0.0, 0.0, 1.0),
		  },
		  "scale": {
			"type": "glam::vec3::Vec3",
			"value": (1.0, 1.0, 1.0),
		  },
		},
	  },
	  {
		"type": "bevy_transform::components::global_transform::GlobalTransform",
	  	"struct": {
		  "translation": {
			"type": "glam::vec3::Vec3",
			"value": (0.0, 0.0, 0.0),
		  },
		  "rotation": {
			"type": "glam::quat::Quat",
			"value": (0.0, 0.0, 0.0, 1.0),
		  },
		  "scale": {
			"type": "glam::vec3::Vec3",
			"value": (1.0, 1.0, 1.0),
		  },
		},
	  },
	  {
		"type": "bevy_asset::proxy_handle::ProxyHandle<bevy_render::mesh::mesh::Mesh>",
		"struct": {
		  "path": {
			"type": "alloc::string::String",
			"value": "models/cube/cube.gltf#Mesh0/Primitive0",
		  },
		},
	  },
	  {
		"type": "bevy_asset::proxy_handle::ProxyHandle<bevy_pbr::pbr_material::StandardMaterial>",
		"struct": {
		  "path": {
			"type": "alloc::string::String",
			"value": "models/cube/cube.gltf#Material0",
		  },
		},
	  },
	  {
		"type": "bevy_render::view::visibility::Visibility",
		"struct": {
		  "is_visible": {
			"type": "bool",
			"value": true,
		  },
		},
	  },
	  {
		"type": "bevy_render::view::visibility::ComputedVisibility",
		"struct": {
		  "is_visible": {
			"type": "bool",
			"value": true,
		  },
		},
	  },
	]
  )
]
